@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  color: #000000;
  list-style: none;
  font-style: normal;
}

.Signup_form {
  padding: 30px;
  width: 740px;
  height: 540px;
  margin-top: 35px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(185, 168, 154, 0.1);
  border-radius: 30px;
  text-align: center;
}
.SU_Main_header {
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  font-size: 35px;
  line-height: 40px;
  color: rgba(81, 68, 56, 0.6);
}
.SU_Nomal_btn {
  border: 0px;
  background: #514438;
  border-radius: 40px;
  width: 400px;
  height: 70px;
  margin-top: 80px;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}
.Nomal_btn:hover {
  background-color: #b9a89a;
  transition: 0.7s;
}
.signup_line {
  width: 100px;
  height: 0px;
  margin-top: 60px;
  border: 3px solid #b9a89a;
}
.SU_Signup_social {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  margin-top: 60px;
  color: rgba(81, 68, 56, 0.6);
}
.SU_social_btn {
  display: flex;
  width: 350px;
}

.SU_social_btn > button {
  width: 80px;
  height: 80px;
  margin-top: 30px;
  border: none;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 80px;
  cursor: pointer;
}

.SU_social_btn > button > a > img {
  width: 60px;
  height: 60px;
}
.SU_naver {
  float: left;
  background: #00c73c;
}
.SU_kakao {
  background: #fae300;
  float: center;
}
.SU_google {
  background: #ffffff;
  float: right;
}
.SU_social_btn > button > a > .SU_kakao_img {
  padding-top: 5px;
  border-radius: 80px;
}
/*=====================이름/ 휴대폰 인증(Signup_phone)========================== */
.SU_Phone_form {
  padding: 30px;
  width: 740px;
  height: 600px;
  margin-top: 35px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(185, 168, 154, 0.1);
  border-radius: 30px;
  text-align: center;
}
.SU_sub_header {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgba(185, 168, 154, 0.6);
}
.SU_sub_header > .SU_pro_now {
  color: #b9a89a;
}
.SU_phone_form {
  margin-top: 40px;
  text-align: left;
}

.SU_phone_input > tr > td {
  padding-right: 20px;
  padding-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  color: #514438;
  font-weight: bold;
  font-family: "Noto Sans KR";
}

.SU_phone_input > tr > td > input {
  font-size: 20px;
  width: 200px;
  height: 30px;
  border-width: 0;
}

.SU_phone_input :focus {
  outline: none !important;
  background: #ffffff;
}
.SU_phone_line {
  width: 300px;
  margin-left: 0px;
  margin-top: 5px;
  border: 2px solid #514438;
}
.SU_phone_btn {
  background: #b9a89a;
  border: 0px;
  border-radius: 40px;
  width: 450px;
  height: 70px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}
.signup_information {
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
  color: #888888;
}
.SU_phone_btn:hover {
  background-color: rgba(185, 168, 154, 0.6);
  transition: 0.7s;
}
.SU_cert_num {
  width: 100px;
  height: 30px;
  background: #b9a89a;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}
.SU_cert_num:hover {
  background-color: rgba(185, 168, 154, 0.6);
  transition: 0.7s;
}

/*==========================회원 가입 개인정보 입력(Signup_input.js)========================*/
.SU_input_form {
  padding: 30px;
  width: 1050px;
  height: 950px;
  margin-top: 35px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(185, 168, 154, 0.1);
  border-radius: 30px;
  text-align: center;
}
.SU_input_table {
  width: 650px;
  margin-top: 40px;
  text-align: left;
}
.SU_input_table > tr > td {
  padding-right: 20px;
  padding-bottom: 30px;
  width: 400px;
  font-size: 25px;
  line-height: 30px;
  color: #514438;
  font-weight: bold;
  font-family: "Noto Sans KR";
}

.SU_input_table > tr > td > input {
  font-size: 20px;
  width: 450px;
  height: 30px;
  border-width: 0;
}
.SU_input_table :focus {
  outline: none !important;
}
.SU_input_table > tr > td > .email_input {
  font-size: 20px;
  width: 135px;
  height: 30px;
  border-width: 0;
}
.SU_input_table > tr > td > .address_input {
  font-size: 20px;
  width: 250px;
  height: 30px;
  border-width: 0;
}
.SU_input_table > tr > td > .card_pw {
  font-size: 25px;
  width: 20px;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  text-align: center;
  border-bottom: 2px solid #514438;
  box-sizing: border-box;
  position: relative;
}

.SU_input_table > tr > .prev_value {
  font-family: "Noto Sans KR";
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  color: #514438;
  font-weight: normal;
}

.SU_not_chk {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #ff1122;
}
.SU_ok_chk {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #7d9e8c;
}
.SU_input_table > tr > td > .box {
  font-size: 20px;
  width: 140px;
  height: 30px;
  border-width: 0;
}
.SU_input_line {
  width: 450px;
  height: 0px;
  margin-left: 0px;
  margin-top: 5px;
  border: 2px solid #514438;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.SU_find_address {
  float: right;
  width: 115px;
  height: 30px;
  background: #b9a89a;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}
.SU_find_address:hover {
  background-color: rgba(185, 168, 154, 0.6);
  transition: 0.7s;
}
.SU_card_header {
  margin-top: 50px;
  width: 160px;
  height: 30px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #514438;
}
.SU_card_sub {
  margin-top: 20px;
  width: 120px;
  height: 34px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: rgba(81, 68, 56, 0.6);
}

.SU_input_table > tr > td > .accept {
  width: 15px;
  height: 15px;
  border-width: 0;
  margin-left: 10px;
}
.SU_input_table > tr > .accept {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #514438;
}
.SU_input_table > tr > td > .terms {
  width: 625px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
}
.SU_input_table > tr > td > .terms::-webkit-scrollbar {
  width: 10px;
}
.SU_input_table > tr > td > .terms::-webkit-scrollbar-thumb {
  background-color: #b9a89a;
  height: 50px;
  border-radius: 10px;
}
.SU_input_table > tr > td > .terms::-webkit-scrollbar-track {
  background-color: white;
}
.SU_input_btn {
  background: #b9a89a;
  border: 0px;
  border-radius: 40px;
  width: 450px;
  height: 70px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/*======================동의문(SIgnup_accept.js)====================*/
.SU_input_table > tr > td > .SU_accept {
  width: 15px;
  height: 15px;
  border-width: 0;
  margin-left: 100px;
}
.SU_input_table > tr > .SU_accept {
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #514438;
}
.SU_input_table > tr > td > .accepts {
  width: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 150px;
  margin-left: 100px;
}
.SU_input_table > tr > td > .accepts::-webkit-scrollbar {
  width: 10px;
}
.SU_input_table > tr > td > .accepts::-webkit-scrollbar-thumb {
  background-color: #b9a89a;
  height: 50px;
  border-radius: 10px;
}
.SU_input_table > tr > td > .accepts::-webkit-scrollbar-track {
  background-color: white;
}
.SU_accept_form {
  padding: 30px;
  width: 800px;
  height: 1260px;
  margin-top: 35px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(185, 168, 154, 0.1);
  border-radius: 30px;
  text-align: center;
}

/*=============회원가입 완료(Signup_compleye.js)===============*/
.signup_detail {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #514438;
}
.detail_em {
  font-style: bold;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */

  color: #514438;
}
.Signup_logo {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.signup_info {
  margin-bottom: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #7d9e8c;
}
.info_detail {
  color: #514438;
}
.close_modal > button {
  border: 0px;
  background: #fff;
  width: 30px;
  height: 30px;
}
/*===================================*/
.UU_input_btn {
  background: #b9a89a;
  border: 0px;
  border-radius: 40px;
  width: 450px;
  height: 70px;
  margin-top: 30px;
  float: center;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.Signup_compelte_form {
  padding: 30px;
  width: 740px;
  height: 600px;
  margin-top: 35px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(185, 168, 154, 0.1);
  border-radius: 30px;
  text-align: center;
}
.SU_input_table > tr > td > .SU_birth {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #b9a89a;
}
.SU_input_table > tr > td > .active {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
