/* 회원가입 페이지 */

/* 회원가입 메인 (0) */
.Signup_Main_wrap {
  width: 680px;
  height: 480px;
}

.Signup_Main_header {
  margin-bottom: 70px;
}

.Signup_Main_btn {
  width: 370px;
  height: 40px;
  background: #514438;
  border-radius: 40px;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  cursor: pointer;
}

.Signup_Main_btn:hover {
  opacity: 0.7;
}

.Signup_Main_line {
  width: 100px;
  border: 3px solid rgba(185, 168, 154, 0.5);
  border-radius: 3px;
  margin: 70px auto 55px;
}

/* 소셜 로그인 */
.Signup_Main_social {
  height: 34px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: rgba(81, 68, 56, 0.6);
}

.Signup_Main_social {
  margin: 30px auto 10px;
}

/* 회원가입 Header */
.Signup_header {
  margin-bottom: 25px;
}

.Signup_sub {
  height: 25px;
  text-align: center;
  margin: 0 auto 55px;
}

.Signup_sub_text {
  height: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: rgba(185, 168, 154, 0.6);
}

.Signup_sub_text:not(:last-child) {
  margin-right: 30px;
}

.Signup_sub_text_main {
  color: #B9A89A;
}

/* 회원가입 본인인증 (1) */
.Signup_Phone_wrap {
  width: 680px;
  height: 550px;
}


/* 회원가입 약관동의 (3) */
.Signup_Accept_wrap {
  width: 1050px;
}

.Signup_Accept {
  width: 700px;
}

.Signup_Accept_title {
  width: 690px;
  margin: 0 5px;
}

.Signup_Accept_title:not(:first-child) {
  margin: 20px 0 10px 5px;
}

.Signup_Accept_title > input {
  width: 15px;
  height: 15px;
  margin: 5px 10px 0 0;
}

.Signup_Accept_title > label {
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.Signup_Accept_title:first-child > label {
  font-weight: bold;
}

.Signup_Accept_title > label > span {
  font-size: 15px;
  color: #666666;
}

.Signup_Accept_content {
  width: 680px;
  height: 130px;
  padding: 10px;
  resize: none;
}

.Signup_Accept_content::-webkit-scrollbar {
  width: 7px;
}

.Signup_Accept_content::-webkit-scrollbar-thumb {
  background-color: #DDDDDD;
  height: 50px;
  border-radius: 10px;
}

.Signup_Accept_content::-webkit-scrollbar-track {
  background-color: white;
}

.Signup_Accept_btn {
  margin: 65px auto 10px;
}

/* 회원가입 완료 (4) */
.Signup_Complete_wrap {
  width: 680px;
}

.Signup_icon_wrap {
  width: 100px;
  margin: 10px auto 20px;
}

.Signup_icon {
  width: 100px;
  height: 100px;
}

.Signup_complete_text {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #514438;
}

.Signup_complete_text > span {
  color: #7D9E8C;
}

.Signup_detail_text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #514438;
  margin: 55px auto 20px;
}

.Sign_complete_btn {
  margin: 0 115px 10px;
}









/*===================================*/
.UU_input_btn {
  background: #b9a89a;
  border: 0px;
  border-radius: 40px;
  width: 450px;
  height: 70px;
  margin-top: 30px;
  float: center;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.Signup_compelte_form {
  padding: 30px;
  width: 740px;
  height: 600px;
  margin-top: 35px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(185, 168, 154, 0.1);
  border-radius: 30px;
  text-align: center;
}
.SU_input_table > tr > td > .SU_birth {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #b9a89a;
}
.SU_input_table > tr > td > .active {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
