@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
margin: 0 auto;
padding: 0;
font-family: "Noto Sans KR", sans-serif;
color: #000000;
list-style: none;
}

body {
margin: 0 auto;
padding: 0;
}

.top{
    width: 1200px;
    height: 200px;
    display: flex;
    margin-top: 100px;
    border-top: 2px solid #B9A89A; 
    border-bottom: 2px solid #B9A89A; 
    text-align: center;
}

.membertop {
    position: relative;
    margin: 0;
}

.membertop img {
    width: 80px;
    height: 80px;
    margin: 25px 110px 0 110px;
    opacity: 0.5;
}

.membertext {
    position: absolute;
    width: 81px;
    height: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #514438;
    margin: 45px 110px 0 110px;
    line-height: 40px;
    cursor: pointer;
    z-index: 1;
}

.membername {
    width: 145px;
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #514438;
    cursor: pointer;
    margin: 5px 78px 0 78px;
}

.membertop button { 
    width: 140px;
    height: 30px;
    background: #B9A89A;
    border-radius: 7px;
    border-color: #B9A89A;
    margin: 5px 80px 0 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.resttop {
    position: relative;
    margin: 0;
}

.resttext {
    width: 96px;
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    color: #514438;
    line-height: 25px;
    margin: 48px 103px 12px 101px;
}

.resttop img {
    width: 80px;
    height: 80px;
    margin: 0 111px 35px 109px;
    opacity: 0.5;
}

.restnumber1 {
    position: absolute;
    width: 29px;
    height: 60px;
    font-size: 50px;
    font-weight: 700;
    color: #514438;
    margin: 7px 136px 0 135px;
    line-height: 60px;
    z-index: 1;
}

.restnumber2 {
    position: absolute;
    width: 29px;
    height: 60px;
    font-size: 50px;
    font-weight: 700;
    color: #514438;
    margin: 5px 121px 0 119px;
    line-height: 60px;
    z-index: 1;
}

.borderright {
    border: 2px solid rgba(185, 168, 154, 0.5);
    margin: 50px 0 50px 0;
    height: 100px; 
  }

.mid {
    width: 1200px; 
    display: block; 
}

.payword {
    width: 79px;
    height: 25px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #514438;
    margin: 42px 30px 0 25px;
}

.date {
    width: 150px;
    height: 30px;
    background: rgba(185, 168, 154, 0.15);
    border: none;
    border-radius: 5px;
    margin: 0 6px;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.datesearchbutton {
    display: inline-block;
    position: relative;
    background-image: url(../../images/search.png);
    background-size: contain;
    background-color: white;
    border: none;
    width: 17px;
    height: 17.13px;
    cursor: pointer;
    margin-left: 5px;
}

.searchbox{
    width: 220px;
    height: 30px;
    border: 1px solid #B9A89A;
    border-radius: 15px;
    position: absolute;
    margin: 40px 0 0 466px;
    padding-left: 15px;
    cursor: text;
}

.searchboxpay{
    width: 220px;
    height: 30px;
    border: 1px solid #B9A89A;
    border-radius: 15px;
    position: absolute;
    margin: 40px 0 0 450px;
    padding-left: 15px;
    cursor: text;
}

.searchboxbutton {
    display: inline-block;
    position: relative;
    background-image: url(../../images/search.png);
    background-size: contain;
    background-color: white;
    border: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 46px 0 0 653px;
    background-color: white;
}

.searchboxbuttonBid {
    display: inline-block;
    position: relative;
    background-image: url(../../images/search.png);
    background-size: contain;
    background-color: white;
    border: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 46px 0 0 669px;
    background-color: white;
}

.flex_wrap {
max-width: 1180px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px 0px;
margin-top: 35px;
}

.radio label {
margin: 0 20px 0 10px;
font-weight: 600;
font-size: 20px;
line-height: 25px;
color: rgba(81, 68, 56, 0.8);
}

.radio input {
box-sizing: border-box;
width: 15px;
height: 15px;
accent-color: rgba(81, 68, 56, 0.6);
}

.option {
width: 75px;
height: 27px;
font-size: 15px;
color: rgba(81, 68, 56, 0.8);
text-align: center;
border-radius: 5px;
}

.option option {
font-size: 15px;
color: rgba(81, 68, 56, 0.8);
}

.PI-pagemp {
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: rgba(81, 68, 56, 0.5);
    margin-top: 50px;
}

.PI-page_nowmp, .PI-page_prevmp, .PI-page_nextmp {
    color: rgba(81, 68, 56, 0.8);
}

.PI-page_totalmp, .PI-page_prev_graymp, .PI-page_next_graymp {
    color: rgba(81, 68, 56, 0.5);
}

.PI-page_prevmp, .PI-page_prev_graymp {
    margin-right: 20px;
}

.PI-page_nextmp, .PI-page_next_graymp {
    margin-left: 20px;
}

.PI-page_prevmp, .PI-page_nextmp {
    cursor: pointer;
}

  