@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
margin: 0 auto;
padding: 0;
font-family: "Noto Sans KR", sans-serif;
color: #000000;
list-style: none;
}

body {
margin: 0 auto;
padding: 0;
}

.productBid {
  display: flex;
  width: 560px;
  margin-right: 60px;
}

.imageBid {
  width: 200px;
  height: 200px;
  margin: 0;
  cursor: pointer;
}

.imageBid img {
  width: 100%;
  height: 100%;
}

.productownerBid {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}

.productownerboxBid {
  box-sizing: border-box;
  position: absolute;
  width: 180px;
  height: 180px;
  border: 3px solid #FFFFFF;
  margin: 10px 10px 10px 10px;
}

.productownertextBid {
  position: absolute;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #B2D4C1;
  margin: 85px 72px;
}

.productnownerBid {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}

.productnownerBid div {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #D4B2B2;
  margin-top: 85px;
}

.com_nameBid {
  font-size: 15px;
  line-height: 20px;
  color: #777777;
  margin-top: 15px;
}

.bidselectBid {
  font-size: 15px;
  line-height: 25px;
  color: #777777;
  height: 25px;
}

.product_nameBid {
  font-size: 20px;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 340px;
  white-space: nowrap;
  cursor: pointer;
}

.priceBid {
  display: flex;
  margin-top: 18px;
}

.priceBidAll1 {
  margin-right: 0;

}

.priceBidAll2 {
  margin-right: 0;
  margin-left: 10px;
}


.priceBidnum {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
}

.priceBidword {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  color: #333333;
  text-align: right;
}


.redcolorBid {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #ff0000;
  margin: 3px 0px 0px 0px;
}

.redcolorBid img {
  width: 18px;
  height: 18px;
  margin: 2px 10px 0px 0px;
}

.balckcolorBid {
  font-size: 18px;
  display: flex;
  font-weight: 600;
  align-items: center;
  margin: 3px 0px 0px 0px;
}

.balckcolorBid img {
  width: 18px;
  height: 18px;
  margin: 2px 10px 0px 0px;
}

.balckcolorBidNum {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 3px 0px 0px 0px;
}

.balckcolorBidNum img {
  width: 18px;
  height: 18px;
  margin: 2px 10px 0px 0px;
}

.inmargin {
  margin-left: 20px;
  width: 340px;
}
