.OD-wrap {
  float: left;
  width: 940px;
}
.OD-header {
  width: 880px;
  height: 35px;
  margin: 0 30px 10px;
}
.OD-title {
  float: left;
  height: 35px;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #514438;
}
.OD-line {
  width: 936px;
  border: 2px solid #c7b9ae;
}

.OD-view-title {
  float: left;
  margin: 10px 0 0 20px;
  display: flex;
  font-size: 25px;
  line-height: 35px;
}
.OD-top-wrap {
  float: right;
}
.OD-view-date {
  width: 105px;
  height: 35px;
  margin: 0 15px 0 0;
  font-size: 20px;
  color: #666666;
  line-height: 55px;
}
.OD-delete-btn {
  position: relative;
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #333333;
}
.OD-title-line {
  width: 936px;
  border: 1px solid #eeeeee;
}
.OD-content-box {
  resize: none;
  background-color: rgba(238, 238, 238, 0.3);
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  width: 930px;
  height: 410px;
  font-size: 20px;

  text-align: left;
  /* max-height: 410px;  스크롤이 생성될 최대 높이를 지정합니다. 
  overflow-y: auto; 스크롤을 생성합니다. */
}

.OD-content {
  width: 890px;
  height: 300px;
  font-size: 20px;
  resize: none;
  margin: 20px 0 0 20px;
}
.OD-reply-icon {
  margin: 25px 0px 0px 30px;
  float: left;
  width: 21px;
  height: 30px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  color: #514438;
  background-color: rgba(185, 168, 154, 0.3);
  padding-left: 9px;
}
.OD-reply-content {
  float: left;
  width: 810px;
  height: 410px;
  font-size: 20px;
  line-height: 25px;
  margin: 25px 0px 10px 15px;
  max-height: 350px; /* 스크롤이 생성될 최대 높이를 지정합니다. */
  overflow-y: auto; /* 스크롤을 생성합니다. */
}
.OD-reply-content::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.OD-reply-content::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d9d9d9;
}

.OD-go-list-btn {
  float: right;
  /* position: relative; */
  width: 95px;
  height: 50px;
  margin: 0px 20px 0 0;
  font-size: 20px;
  background-color: #514438;
  border: 2px solid #514438;
  border-radius: 10px;
  color: white;
}

.OD-reply-date {
  float: right;
  width: 189px;
  height: 35px;
  font-size: 20px;
  /* text-align: right; */
  color: #888888;
  line-height: 35px;
  margin: 35px 0px 20px 810px;
}
/* .OD-edit-btn {
  position: relative;
  width: 95px;
  height: 50px;
  margin: 0 0 0 10px;
  top: 50px;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border: 2px solid #514438;
  border-radius: 10px;
  color: #514438;
}

} */
