/* 공지사항 목록 페이지 */

.NL-wrap {
  float: left;
  width: 940px;
}

.NL-header {
  width: 880px;
  height: 35px;
  margin: 0 30px 10px;
}

.NL-title {
  float: left;
  height: 35px;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #514438;
}

.NL-post-btn {
  float: right;
  height: 35px;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #514438;
}

.NL-line {
  width: 936px;
  border: 2px solid #c7b9ae;
}

.NL-list_wrap {
  width: 900px;
  margin: 0 20px;
}

.NL-list {
  width: 880px;
  height: 30px;
  border-bottom: 2px solid rgba(185, 168, 154, 0.3);
  padding: 15px 10px;
}

.NL-list_title {
  float: left;
  width: 650px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.NL-list_right_wrap {
  float: right;
}

.NL-list_admin_btn_wrap {
  float: left;
  margin-right: 20px;
}

.NL-list_btn {
  float: left;
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #514438;
}

.NL-list_btn:first-child {
  margin-right: 10px;
}

.NL-post-btn:hover,
.NL-list_btn:hover {
  opacity: 0.5;
}

.NL-list-date {
  float: left;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #777777;
}

/* 페이지 번호 */
.NL-page {
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(81, 68, 56, 0.5);
  margin-top: 50px;
}

.NL-page_now,
.NL-page_prev,
.NL-page_next {
  color: rgba(81, 68, 56, 0.8);
}

.NL-page_total,
.NL-page_prev_gray,
.NL-page_next_gray {
  color: rgba(81, 68, 56, 0.5);
}

.NL-page_prev,
.NL-page_prev_gray {
  margin-right: 20px;
}

.NL-page_next,
.NL-page_next_gray {
  margin-left: 20px;
}

.NL-page_prev,
.NL-page_next {
  cursor: pointer;
}
