.FAQ-List-form {
  width: 940px;
  float: right;
}
.FAQ-category {
  width: 900px;
  padding: 15px 0;
  clear: both;
  border-bottom: 2px solid rgba(185, 168, 154, 0.3);
}
.FAQTitle {
  width: 920px;
  height: 40px;
  margin-left: 25px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #514438;
}
.FAQSearch {
  width: 496px;
  height: 36px;
  border: 2px solid rgba(185, 168, 154, 0.3);
  border-radius: 30px;
  float: right;
  display: flex;
  margin-right: 40px;
}
.FAQSearch input {
  margin-left: 20px;
  margin-right: 0;
  width: 400px;
  height: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  border: none;
  color: rgba(185, 168, 154, 0.7);
}
.FAQSearch input:focus {
  outline: none !important;
}
.FAQSearchIcon {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}
.FAQnavline {
  float: left;
  width: 940px;
  border: 2px solid #c7b9ae;
}
.FAQ-category > .active {
  background: #cccccc;
  color: #fff;
  border: 2px solid #cccccc;
  outline: none !important;
}
.FAQ-category button {
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #999999;
  background: #fff;
  padding: 0 25px;
  margin-right: 10px;
  border: 2px solid rgba(204, 204, 204, 0.5);
  cursor: pointer;
}

.FAQ_List_post {
  padding-left: 10px;
  padding-right: 15px;
  height: 58px;
  line-height: 58px;
  width: 875px;
  border-bottom: 2px solid rgba(185, 168, 154, 0.3);
}
.FAQPostCate {
  width: 150px;
  float: left;
  margin-right: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  color: #555555;
}
.FAQPostTitle {
  width: 630px;
  float: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  margin-right: 25px;
  color: #000000;
  cursor: pointer;
}
.FAQArrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.FAQArrowRotate {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  cursor: pointer;
}
.FAQ_post_content {
  width: 660px;
  padding: 20px 0;
  margin-left: 210px;
  margin-right: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.FAQ_content {
  width: 900px;
  border-bottom: 2px solid rgba(185, 168, 154, 0.3);
}
/* =================================================== */
.FAQTitleHead {
  width: 50px;
  float: left;
  margin-right: 20px;
}
.FAQSearchAdimin {
  width: 496px;
  height: 36px;
  display: flex;
  border: 2px solid rgba(185, 168, 154, 0.3);
  border-radius: 30px;
  float: left;
  margin-right: 40px;
}
.FAQSearchAdimin input {
  margin-left: 20px;
  width: 400px;
  height: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  border: none;
  color: rgba(185, 168, 154, 0.7);
}
.FAQSearchAdimin input:focus {
  outline: none !important;
}

.FAQTitle a {
  font-weight: 600;
  font-size: 20px;
  width: 37px;
  height: 35px;
  line-height: 40px;
  float: right;
  text-align: center;
  margin-right: 25px;
  color: #514438;
  cursor: pointer;
}
.FAQAdminTitle {
  width: 460px;
  float: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  margin-right: 87px;
  color: #000000;
  cursor: pointer;
}
.FAQAdminUpdate {
  width: 34px;
  margin-right: 15px;
  border: none;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #555555;
  cursor: pointer;
}
.FAQAdminDelete {
  width: 34px;
  margin-right: 25px;
  border: none;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #555555;
  cursor: pointer;
}
/* ========================================================= */
.FAQ-Writecategory {
  width: 900px;
  padding: 15px 0;
  clear: both;
}
.FAQ-Writecategory > .active {
  background: #cccccc;
  color: #fff;
  border: 2px solid #cccccc;
  outline: none !important;
}
.FAQ-Writecategory button {
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #999999;
  background: #fff;
  padding: 0 25px;
  margin-right: 10px;
  border: 2px solid rgba(204, 204, 204, 0.5);
  cursor: pointer;
}
.FAQ_Title_input {
  width: 896px;
  height: 46px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}
.FAQ_Title_input input {
  width: 860px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  color: #000;
  border: none;
}
.FAQ_Title_input input:focus {
  outline: none !important;
}
.FAQ_Title_input input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #888888;
}
.FAQ_Text_input {
  width: 856px;
  height: 376px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.FAQ_Text_input textarea {
  width: 860px;
  height: 345px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border: none;
  resize: none;
}
.FAQ_Text_input textarea:focus {
  outline: none !important;
}
.FAQ_Text_input span {
  float: right;
  color: #888888;
}
.FAQ_button {
  width: 200px;
  height: 50px;
  margin-right: 20px;
  float: right;
}
.FAQ_button_cancel {
  width: 95px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #514438;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #514438;
}
.FAQ_button_regi {
  width: 95px;
  height: 50px;
  background-color: #514438;
  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
